<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="font-size: larger;color: chocolate;font-weight: bolder">首页<br></div>
<a th:href="@{/testRequestByServletAPI}" style="color: greenyellow">通过serlvet向request域对象共享数据</a><br>
<a th:href="@{/testModeAndView}" style="color: lightcyan">通过serlvet向request域对象共享数据testModeAndView</a><br>
<a th:href="@{/testModel}" style="color: rebeccapurple">通过serlvet向request域对象共享数据testModel</a><br>
<a th:href="@{/testMap}" style="color: cornflowerblue">通过serlvet向request域对象共享数据testMap</a><br>
<a th:href="@{/testModelMap}" style="color: peru">通过serlvet向request域对象共享数据testModelMap</a><br>
<a th:href="@{/testSession}" style="color:darkred">通过serlvet向session域对象共享数据</a><br>
<a th:href="@{/testApplication}" style="color:hotpink">通过serlvet向application域对象共享数据</a><br>
</body>
</html>