<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/hello/testRequestMapping}">测试RequestMapping注解的位置</a><br>
<a th:href="@{/testRequestMapping}" style="color: aqua">测试RequestMapping注解的value位置-->/testrequestmapping</a><br>
<a th:href="@{/test}" style="color: coral">测试RequestMapping注解的位置-->/text</a><br>

<form th:action="@{/test}" method="post">
    <input type="submit" value="测试requestmapping注解的method属性--》post">
</form>

<a th:href="@{/testGetMapping}" style="color:darkcyan">测试GetMapping注解-->/textgetmapping</a><br>


<form th:action="@{/test}" method="put">
    <input type="submit"  value="测试form是否能够直接调用post method">
</form>

<a th:href="@{/a1a/testAnt}">测试@reqyyestmapping对应ant-？</a><br>
<a th:href="@{/a1a/testAnt}">测试@reqyyestmapping对应ant-*</a><br>
<a th:href="@{/a1a/testAnt}">测试@reqyyestmapping对应ant-**</a><br>
<a th:href="@{/testPath/1}">测试@reqyyestmapping对支持占位符路径--》testpath</a><br>
</body>
</html>